<h1 class="text-center"><%= @post.title %> <small><%= link_to @post.link %></small></h1>

<%= render partial: "layouts/comment_display", locals: {comments: @post.comments, user: @current_user, vote: @vote} %>

<div class="row">
    <hr>
    <div class="col-md-6 col-md-offset-3">
        <%= render "layouts/comment_form" %>
    </div>
</div>